.grid-container {
    width: 100vh;
    max-width: 1500px;
    height: 2068px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    color: #111111;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

img.genesis {
    max-width: 90px;
}

a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:#111111;
}

li {
    list-style: none;
    float: left;
    width: 50%;
    padding-bottom: 10px;
    opacity: 0.6;
    font-weight: 400;
    line-height: 23px;
}


/* HEADER */ 

.nav-header {
    grid-column: 1 / 14;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
}

h1 {
    grid-column: 1 / 8;
    grid-row: 3 / 5;
    font-size: 40px;
}

.main-info {
    grid-column: 1 / 8 ;
    grid-row: 5 / 8;
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.list {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    grid-column: 9 / 14 ;
    grid-row: 3 / 8;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.table {
    width: 90%;
    height: 90%;
    border-collapse: collapse;
}

.row1 {
    border-bottom: solid ;
    border-color: #979797;
    border-width: 1px;
    height: 60px;
    width: 120px;
    color:#11111167;
}

.row2 {
    border-bottom: solid ;
    border-color: #979797;
    border-width: 1px;
    height: 60px;
}

.border {
    border-color:#979797 ;
    border-bottom: solid;
    border-width: 1px;
    opacity: 0.3;
}

div.image {
    grid-column: 1 / 14;
    grid-row: 10 / 14;
}

img.woman {
    max-width: 100%;
}

/* FOOTER */

.nav-foot {
    grid-column: 1 / 14;
    grid-row: 30 / 31;
    display: flex;
    align-items: center;
}

.logo {
    width: 15px;
    margin: 12px;
}